<h2>Weapons</h2>
<ul class="weapons">
  <li *ngFor="let weapon of hero.weapons" [ngStyle]="{'background-color': colorEquipped(weapon)}" >
    <i class="badge" [ngStyle]="{'background-color': colorBadge(weapon.type)}">{{weapon.type}}</i>
    <a>{{weapon.name}}</a>
    <button class="equip" title="equip weapon"
    (click)="equip(weapon)">{{isEquipped(weapon)}}</button>
    <button class="delete" title="delete weapon"
    (click)="delete(weapon)">x</button>
  </li>
</ul>

<div class="weapon-form">
  <label>
    <span>Type:</span>
    <select #weaponType class="form-field">
      <option value="0">Melee</option>
      <option value="1">Range</option>
      <option value="2">Magical</option>
    </select>
  </label>
  <label>
    <span>Weapon name:</span>
    <input #weaponName class="form-field"/>
  </label>
  <label>
    <span>Equipped:</span>
    <input type="checkbox" #weaponEquipped class="form-field">
  </label>

  <button
    (click)="add(weaponName.value, weaponType.value, weaponEquipped.value);
    weaponName.value = '';
    weaponType.value = 0;
    weaponEquipped.checked = false">
    Add Weapon
  </button>
</div>
