.weapons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  --weapon-0: red;
  --weapon-1: green;
  --weapon-2: blue;
}
.weapons li {
  display: flex;
  align-items: stretch;
  cursor: pointer;
  margin: .5em;
  height: 2.3em;
  border-radius: 3px;
}
.weapons i {
  width: 0.8em;
}
.weapons li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.weapons a {
  display: flex;
  align-items: center;
  color: #888;
  text-decoration: none;
  width: 150px;
  padding: 5px 0px;
}
.weapons a:hover {
  color:#607D8B;
}

.weapons .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
  background-color: #607D8B;
  min-width: 30px;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;

}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button.equip {
  border-radius: 3px;
  margin: 5px 0px;
}

button.equip:hover {
  background-color: #336699;
  color: #FFF;

}

button.delete {
  font-size: small;
  color: white;
  background-color: #607D8B;
  min-width: 20px;
  text-align: right;
  margin-left: .8em;
  border-radius: 0 4px 4px 0;
}

.weapon-form label {
  display: flex;
  margin-bottom: 10px;
}

.weapon-form label span{
  min-width: 120px;
}
.weapon-form label .form-field{
  margin-left: 10px;
  width: 150px;
}
.weapon-form label [type="checkbox"] {
  width: auto;
}

