<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes, let i = index" class="col-1-4"
      routerLink="/detail/{{hero.id}}"
      (mouseenter)="toggle(i)"
      (mouseleave)="toggle(i)">
    <div class="module hero"
         appBetterHighlight
           [defaultColor]="'#607D8B'"
           [highlightColor]="'#123432'"
           [textDefaultColor]="'white'">
      <h4>{{hero.name}}</h4>
      <h5>{{hero.skill}}</h5>
      <h5>{{getEquippedWeapon(hero)}}</h5>
      <div *ngIf="thumbnails[i] === true">
        <div *ngFor="let w of hero.weapons">
          <h6>{{w.name}}</h6>
        </div>
      </div>
    </div>
  </a>
</div>
<app-hero-search></app-hero-search>

